.amazon {
  color: rgb(0, 113, 133);
  transition: color 0.15s;
}

.amazon:hover {
  color: #c08425;
}

.nike {
  color: black;
  font-size: large;
  font-weight: bold;
}

.stock {
  color: rgb(0, 118, 0);
  font-weight: bold;
}

.cart-btn {
  background-color: rgb(255, 216, 20);
  color: black;
  border: none;
  padding: 7px 20px 7px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.15s,
    box-shadow 0.15s;
  margin-right: 7px;
}

.cart-btn:hover {
  background-color: rgb(255, 196, 0);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);
}

.cart-btn:active {
  opacity: 0.6;
}

.buy-btn {
  background-color: #ffa41c;
  color: black;
  border: none;
  padding: 7px 30px 7px 30px;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.15s,
    box-shadow 0.15s;
}

.buy-btn:hover {
  background-color: #c08425;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);
}

.buy-btn:active {
  opacity: 0.6;
}